<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
</head>
<body>
    <Header class="title">
        <ul class = "menu">
            <li><a href = "#" class="fl">Контакты</a></li>
            <li><a href = "#" class="fl">О нас</a></li>
            <li><a href = "#" class="fl">Услуги</a></li>
        </ul>
    </Header>
    <h1>Домашняя страница сайта</h1>
</body>
</html>